@model Artisanal.Web.Models.ProductDto

<from asp-action="ProductCreate">
    <div class="container border p-3">
        <h1 class="text-primary">Create Product</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-2">
            <label asp-for="ProductName" class="control-label pt-2"
            style="font-size:20px;"></label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="ProductName" class="from-control" />
            <span asp-validation-for="ProductName" class="text-danger">

            </span>
        </div>
    </div>
    <div class="col-2">
        <label asp-for="CategoryName" class="control-label pt-2"
               style="font-size:20px;"></label>
    </div>
    <div class="col-10 pb-3">
        <input asp-for="CategoryName" class="from-control" />
        <span asp-validation-for="CategoryName" class="text-danger">

        </span>
    </div>
    <div class="col-2">
        <label asp-for="ImageURL" class="control-label pt-2"
               style="font-size:20px;"></label>
    </div>
    <div class="col-10 pb-3">
        <input asp-for="ImageURL" class="from-control" />
        <span asp-validation-for="ImageURL" class="text-danger">

        </span>
    </div>
    <div class="col-2">
        <label asp-for="Price" class="control-label pt-2"
               style="font-size:20px;"></label>
    </div>
    <div class="col-10 pb-3">
        <input asp-for="Price" class="from-control" />
        <span asp-validation-for="Price" class="text-danger">

        </span>
    </div>
    <div class="col-5 offset-2">
        <a asp-action="ProductIndex" class="btn-primary" btn from-control">Back To List </a>

    </div>
    <div class="container">

    </div>

</from>
